---

---

<div class="flex h-[500px]">
    <!-- Left Half -->
    <div class="w-1/2 justify-center">         
        <img src="/logo.png "class="min-h-1/2 justify-center pt-20 pl-[400px] pb-12">
                
        </img> 
    </div>


    <!-- Right Half -->
    <div class="w-1/2"> 
        <h1 class="justify-center pt-32 pl-[250px] text-2xl text-black"> Here to meet your transportation needs! </h1>
        <p class="justify-center pt-10 pl-20 pr-20"> Serving the Bay Area since 2001, we proudly offer reliable and professional services extending from the heart of the Bay to the Central Valley. With over two decades of experience, our team is committed to delivering quality, efficiency, and customer satisfaction on every project—no matter the size or scope. Whether you're in San Francisco, Oakland, San Jose, Stockton, or anywhere in between, we're here to help get the job done right. </p>
    </div>

</div>