---

---

<div class="h-[500px]">
    
    <div class="bg-">
        
        <div class="text-center mb-12 w-1/2 bg-[url('/port.avif')] bg-cover bg-center">
            <!-- <img src="/port.avif" class="h-full"> -->
            <h2 class="text-4xl pt-5 text-white">Why Golden State Lines?</h2>
            <div class="w-20 h-1 bg-blue-600 mx-auto"></div>
        </div>

        <div class="w-1/2">
            <h2 class="text-4xl pt-5">Get paid every other week</h2>
        </div>
    </div>

</div>