---

---

<div class="h-[800px]">
    
    <div class="flex">
        
        <div class="text-center mb-12 w-1/2 bg-[url('/trucks.avif')] bg-cover bg-center h-[800px]">
            <!-- <img src="/port.avif" class="h-full"> -->
            <h2 class="text-5xl pt-20 text-white font-bold">Why Golden State Lines?</h2>
            <div class="w-20 h-1 mt-2.5 bg-blue-600 mx-auto"></div>
        </div>

        <div class="w-[650px] pl-20 ">
            <h3 class="text-2xl pt-24 ">Get paid every other week</h3>




            <p class="pt-4"> Call us today for more details on how to become a Golden State Lines driver at (510)-111-2222</p>
        </div>
    </div>

</div>