---

---

<div class="h-[400px] flex">
    <!-- Left Side -->
    <div class="w-1/2 justify-center items-center text-center pl-8 pr-8">
        <h2 class="text-5xl font-bold text-gray-500 mb-4 leading-tight drop-shadow-lg mt-40">
                    Join Us Today!
            
        </h2>
        <p> At Golden State Lines, we are committed to delivering reliable, efficient, and customer-focused transportation services across Northern California. Our experienced team understands the logistics industry inside and out, and we take pride in offering consistent freight opportunities, responsive support, and a strong network of trusted partners. </p>
    </div>

    <!-- Right Side -->
    <div class="w-1/2">
        <div class="justify-center">
            <form>
                 <!-- Name & Company -->
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mb-2">Your Name *</label>
                        <input type="text" required class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors">
                    </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mb-2">Company</label>
                        <input type="text" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors">
                    </div>
                </div>

                <label for="fname">First Name:</label><br>
                <input type="text" id="fname" name="fname" value="John"><br>
                
                <label for="lname"> Last Name</label><br>
                <input type="text" id="lname" name="lname" value="Smith"><br>

                <label for="phone"> Phone Number</label><br>
                <input type="text" id="phone" name="phone" value="123456789"><br>

                <label for="email"> Email </label><br>
                <input type="text" id="email" name="email" value="gmail.com"><br>
            </form>
        </div>
    </div>
</div>