---

---

<div class="h-[400px] flex">
    <!-- Left Side -->
    <div class="w-1/2 justify-center items-center text-center pl-8 pr-8">
        <h2 class="text-5xl font-bold text-white mb-4 leading-tight drop-shadow-lg mt-40">
                    Why Choose
            <span class="text-red-300">Golden State Lines?</span>
        </h2>
        <p> At Golden State Lines, we are committed to delivering reliable, efficient, and customer-focused transportation services across Northern California. Our experienced team understands the logistics industry inside and out, and we take pride in offering consistent freight opportunities, responsive support, and a strong network of trusted partners. </p>
    </div>

    <!-- Right Side -->
    <div class="w-1/2">
        <h1>Right</h1>
    </div>
</div>