---

---

<div class="border-8 h-[200px] bg-black flex justify-center pt-7">

    <div class="">
        <!-- first divider -->
        <div class="w-[1200px] h-[1px] bg-gray-500 justify-center grid grid-rows-3"></div>

          <div class="text-white mt-3 grid grid-cols-2 grid-rows-3 gap-2 max-w-4xl">
            <!-- Navigation Items -->
            <a href="/" class="hover:text-gray-300 transition-colors">Home</a>
            <a href="#About" class="hover:text-gray-300 transition-colors">About</a>
            <a href="#Services" class="hover:text-gray-300 transition-colors">Services</a>
            <a href="#Contact" class="hover:text-gray-300 transition-colors">Contact</a>
            <a href="#Drivers" class="hover:text-gray-300 transition-colors">Drivers</a>
           </div>


        <div>
            <!-- second divider -->
            <div class="w-[1200px] h-[1px] bg-gray-500 justify-center grid grid-rows-3 mt-3.5"></div>

                      
            <!-- Navigation Items -->
            <p class="text-sm italic text-white pt-3">COPYRIGHT © 2025 GOLDEN STATE LINES, INC. ALL RIGHTS RESERVED</p>

           

        </div>
    </div>


</div>
