---

---

	<div class = "flex absolute top-14 justify-center w-full">
		
        
			<ul class= "flex gap-16 text-xl">
                <li class=""> <a href="/"> About </a> </li>
				<li class=""> <a href="/"> Contact Us </a></li>
				<li class="text-3xl"> <a href="/">Golden State Lines </a></li>
                <li class=""> <a href="/"> Services </a></li>
				<li class=""> <a href="/"> Careers </a></li>
			</ul>
		

	</div>
