---

---

	<div class = "flex absolute top-14 justify-center w-full">
		
        
			<ul class= "flex gap-16 text-xl">
                <li class=""> About</li>
				<li class=""> Contact Us</li>
                <li class=""> Services</li>
			</ul>
		

	</div>
