---

---

<div class="relative flex h-[500px] bg-[url('')] bg-cover bg-center">
    <!-- blur can be either sm or xsm -->
    <img src="/nightBridge.jpg" class="absolute object-cover w-full h-full blur-sm">


    <div class="relative w-full grid grid-cols-3 h-full z-10 pt-40 text-2xl text-white">

        <div>
            <h1 class="flex items-center justify-center text-white"> Intermodal Drayage Services</h1>
            <p class="pt-12 text-xl pl-10">We provide reliable, on-time drayage services from the Oakland, Lathrop, and Stockton intermodal ramps to destinations across Northern California. </p>
        </div>

        <div>
            <h1 class="flex items-center justify-center text-white"> Dedicated Customer Support</h1>
            <p class="pt-12 pr-7 pl-3 text-xl">Our responsive customer support team is available around the clock to provide real-time updates, resolve issues quickly, and ensure transparent communication throughout every shipment.</p>
        </div>

        <div>
            <h1 class="flex items-center justify-center text-white"> Cross-Docking & Short-Term Storage</h1>
            <p class="pt-12 text-xl pl-3">We offer cross-docking and short-term storage solutions to reduce handling time and keep your supply chain moving. Our facilities near key rail hubs ensure fast turnaround for time-sensitive cargo.</p>
        </div>

    </div>

     

</div>